a {
  text-decoration: none;
  margin: 0 auto;
  color: var(--secondary-color);
  font-weight: var(--text-bold);
  transition: color var(--transition-speed);
}

a:hover {
  color: var(--hover-color);
}
