---
const PROTOCOL = import.meta.env.NODE_ENV === "production" ? "https" : "http";
const HOSTNAME = import.meta.env.DEPLOY_URL || "localhost:4321";
const API_URL = `${PROTOCOL}://${HOSTNAME}`;
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Agregar un nuevo blog">
  <form method="post" action={API_URL + "/api/blogs"}>
    <label for="titulo">Título</label>
    <input type="text" id="titulo" name="titulo" />
    <label for="subtitulo">Subtítulo</label>
    <input type="text" id="subtitulo" name="subtitulo" />
    <label for="cuerpo">Cuerpo</label>
    <textarea id="cuerpo" name="cuerpo"></textarea>
    <button type="submit">Publicar artículo</button>
  </form>
</BaseLayout>
