---
import Navigation from "./Navigation.astro";
import "../styles/headerStyles.css";
import Hamburger from "./Hamburger.astro";
---

<header class="header">
  <nav class="navbar">
    <Navigation />
    <Hamburger />
  </nav>
</header>
