---

---

<style>
  a {
    text-decoration: none;
    margin-right: 20px;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }

  a:hover {
    color: #007bff;
  }
</style>
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
