---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getBlogs } from "../../data/getBlogs";
const blogs = await getBlogs();
---

<BaseLayout title="Mis blogs">
  <h1>Blogs</h1>
  <ul>
    {
      blogs.map((blog) => (
        <li>
          <a href={`/blogs/${blog.id}`}>{blog.titulo}</a>
          <p>{blog.subtitulo}</p>
          <a href={`/edit/${blog.id}`}>Editar</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
 ./getBlogs ../../data/getBlogs
