---
import { app } from "../../firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import BaseLayout from "../../layouts/BaseLayout.astro";

interface Blog {
  id: string;
  titulo: string;
  subtitulo: string;
  cuerpo: string;
}

const db = getFirestore(app);
const blogsRef = db.collection("Blogs");
const blogsSnapshot = await blogsRef.get();
const blogs = blogsSnapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as Blog[];
---

<BaseLayout title="Mis blogs">
  <h1>Blogs</h1>
  <ul>
    {
      blogs.map((blog) => (
        <li>
          <a href={`/blog/${blog.id}`}>{blog.titulo}</a>
          <p>{blog.subtitulo}</p>
          <a href={`/edit/${blog.id}`}>Editar</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
